#likebutton1{padding-left: 0px;}
#likebutton2{padding-left: 0px;}
#likebutton3{padding-left: 0px;}
#likebutton4{padding-left: 0px;}
#likebutton5{padding-left: 0px;}
.deletesymbole{padding-left: 0px; opacity:70% ;}