#bigparent{ background-image: linear-gradient(to bottom,rgb(29, 26, 26), rgb(139, 139, 139));margin-top: 5%;margin-left: 13%;
            display: flex;margin-right: 13%;margin-bottom: 5%;border-radius: 5px;}
     #shoppingcart{ display: flex;flex-direction: column;}
          #backtoshop{width: 300px;}
                  #backtoshop button{margin: 5px;   font-weight: 300; text-decoration: none;width: 300px;height: 50px;border:0px;
                                     background-color:#23286398 ;color: #FFFFFF;
                                     margin-top: 20px;font-size: 18px;}
                  #backtoshop button:hover{background-color:#232863ce ;}
                  #backtoshop button:active{background-color:#1325e7ce ;}
          #shoppingcartheader{}
          #purshases{display: flex;flex-direction: column;justify-content: space-between;}
                  #purshases div{display: flex;margin: 5px;}
                  #purshases div img{box-shadow: 0px 1px 13px rgb(154, 153, 209);border-radius: 3px;}
                  #purshases div p{margin-left: 15px;}
                  .buttons{display: flex;justify-content: right;width: 100%;flex-wrap: wrap;padding-right: 50px;}
                       .buttons button{margin: 5px;width: 25px;height: 25px; margin-top: 30px;font-weight:300;
                                       border:0px;background-color:#c7c8cc71 ;color: #FFFFFF;font-size: 18px;border-radius: 3px;}
                       .buttons button:hover{background-color:#313a5e71 ;}
                       .buttons button:active{background-color:#51ec8c98 ;}
     #summary{width: 400px;box-shadow: 0px 1px 13px rgb(154, 153, 209);}
                  #summaryheader{margin:10px;margin-top: 20px;}
                  #total{margin: 10px;}
                        #total h1{color: rgb(41, 201, 41);}
                  #purshasebutton button{margin: 15px;   font-weight: 300; text-decoration:none;width: 300px;height: 50px;border:0px;
                    background-color:#c7c8cc71 ;color: #FFFFFF;
                    margin-top: 20px;font-size: 18px;border-radius: 3px;}
                  #purshasebutton button:hover{background-color:#60ff4bce ;}
                  #purshasebutton button:active{background-color:#1dfc00ce ;}
                  #purchasecart{margin-left: 33%;filter:grayscale(80%);}